# OS
.DS_Store
Thumbs.db

# Laravel
/vendor/
/node_modules/
.env
.env.backup
.env.production
*.env
/public/hot
/public/build
/public/storage
/storage/*.key
/bootstrap/cache/*.php
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build
dist/
.cache/

# AWS / Amplify
.amplify/
amplify/
.aws/

# Logs
*.log
